.well.report
  %h2 Gravity Report
  %p= "Current user: #{@email}"
  .report-body
  %ul
    %li= "#{@songs.count} Song#{'s' unless @songs.count == 1} -  #{@songs.inject(0) {|res, song| res + @calculator.gravity(song, :song)} }"
    %li= "#{@videos.count} Video#{'s' unless @videos.count == 1} -  #{@videos.inject(0) {|res, video| res + @calculator.gravity(video, :video)} }"

