.well.report
  %h2 Gravity Report
  %p= "Current user: #{@email}"
  .report-body
  %ul
    %li= "#{@songs.count} Song#{'s' unless @songs.count == 1} -  #{@songs.inject(0) {|res, song| res + @calculator.gravity(song, :song)} }"
    %li= "#{@videos.count} Video#{'s' unless @videos.count == 1} -  #{@videos.inject(0) {|res, video| res + @calculator.gravity(video, :video)} }"
    %li= "#{@documents.count} Document#{'s' unless @documents.count == 1} -  #{@documents.inject(0) {|res, doc| res + @calculator.gravity(doc, :document)} }"
    %li= "#{@binaries.count} Binary#{'s' unless @binaries.count == 1} -  #{@binaries.inject(0) {|res, bin| res + @calculator.gravity(bin, :binary)} }"
    %li= "#{@text.count} Text#{'s' unless @text.count == 1} -  #{@text.inject(0) {|res, tex| res + @calculator.gravity(tex, :text)} }"
    %li= "#{@other.count} Other -  #{@other.inject(0) {|res, other| res + @calculator.gravity(other, :other)} }"



