.well.report
  %h2 Gravity Report
  %p= "Current user: #{@email}"
  .report-body
  %ul
    %li= "#{@songs.count} Song#{'s' unless @songs.count == 1} -  #{ total_gravity(@songs, :song, @calculator) }"
    %li= "#{@videos.count} Video#{'s' unless @videos.count == 1} -  #{ total_gravity(@videos, :video, @calculator) }"
    %li= "#{@documents.count} Document#{'s' unless @documents.count == 1} -  #{total_gravity(@documents, :document, @calculator) }"
    %li= "#{@binaries.count} Binary#{'s' unless @binaries.count == 1} -  #{ total_gravity(@binaries, :binary, @calculator) }"
    %li= "#{@text.count} Text#{'s' unless @text.count == 1} -  #{ total_gravity(@text, :text, @calculator) }"
    %li= "#{@other.count} Other -  #{ total_gravity(@other, :other, @calculator) }"
.total
  %p= "Total: #{@total}"



